<!DOCTYPE html>
<html lang="en">
<head>
    <title>StudySoul</title>
    <link rel="stylesheet" href="../Static/css/style.css">
</head>

<body>
    <header class="top-bar">
        <div class="left-section">
            <img src="../Static/icons/StudySoul Logo 128x128.png" alt="StudySoul Logo">
            <h1>StudySoul</h1>
        </div>

        <div class="right-section">
            <div id="clock" class="time">00:00 AM</div>
            <img src="../Static/images/Settings Button.png" alt="Settings">
        </div>

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="../Static/js/layout.js"></script>

</body>
</html>