<!DOCTYPE html>
<html lang="en">
<head>
    <title>StudySoul</title>
    <link rel="stylesheet" href="style.css"> <!-- get logo -->
</head>

<body>
    <header class="top-bar">
        <div class="left-section">
            <!-- insert image of logo -->
            <h1>StudySoul</h1>
        </div>

        <div class="right-section">
            <!-- insert clock -->
            <!-- insert image of settings -->
        </div>

    </header>

    <main>
        {% block content %}
        {% endblock %}

    </main>
    <!-- insert js for clock -->

</body>
</html>