@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Canva Sans, sans-serif;
}

body {
    background-color: #a2c8cd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;         
  width: 50%;       
  height: 100vh;    
  background-color: #6e699b; 
  z-index: -1;      
}


.login-container {
    background-color: #92c9a9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.login-container h2 {
    text-align: left;
    margin-bottom: 20px;
}

.login-container p {
    text-align: left;
    margin-bottom: 35px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.forgot-link {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-link a {
    font-size: 14px;
    color: #333;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4a4aff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button[type="button"] {
    width: 100%;
    padding: 12px;
    background-color: #4a4aff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-container a {
    color: #333;
}

.left-section img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.left-section h1 {
    font-size: 24px;
    color: #000000;
    text-align: left;
}