<!DOCTYPE html>
<html lang="en">
<head>
    <title>StudySoul</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <body class="{{ page_class }}">
    <header class="top-bar">
        <div class="left-section">
            <img src="../static/icons/StudySoul Logo 192x192.png" alt="StudySoul Logo" class="logo">
            <h1 class="brand-title">StudySoul</h1>
        </div>

        <div class="right-section">
            <div id="clock" class="time">00:00 AM</div>
            <img src="../static/images/Settings Button.png" alt="Settings" class="gear-icon">
        </div>

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="../static/js/layout.js"></script>

</body>
</body>
</html>