{% extends "layout.html" %}
{% block content %}
<div class="timetable_page">
    <div class="timetable-table-page">
         <h1>Timetable</h1>
    </div>
        <table class="timetable" id="timetable">
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
        </table>
    </div>
    </div>


{% endblock %}